{% extends "base.html" %}

{% block content %}

<div class="table-responsive">
<table class="table table-sm table-hover">
  <thead class="thead-dark bg-light">
    <tr>
      <th>Datum</th>
      <th>Klasse(n)</th>
      <th>Titel</th>
      <th>von</th>
      <th>bis</th>
      <th>Author</th>
      <th>Beschreibung</th>
      {% if user %}
      <th/>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% if eventlist|length != 0 %}
      {% for event in eventlist %}
    <tr
      {% if event.title and event.weekend %}
      class="clickable bg-light" onclick="window.location='/kalender/detail/{{ event.id }}'"
      {% elif event.title %}
      class="clickable" onclick="window.location='/kalender/detail/{{ event.id }}'"
      {% elif event.weekend %}
      class="bg-light"
      {% endif %}
      >
          <td>{{ event.start_date }}</td>
          <td>{{ event.recipients }}</td>
          <td>{{ event.title }}</td>
          <td>{{ event.start_time }}</td>
          <td>{{ event.end_time }}</td>
          <td>{{ event.author }}</td>
          <td>{{ event.description }}</td>
          {% if event.owned %}
            <td>
              <a href="/kalender/edit/{{ event.id }}">&auml;ndern</a>
              <a href="/kalender/delete/{{ event.id }}">l&ouml;schen</a>
            </td>
          {% else %}
            {% if user %}
            <td/>
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="100%">Keine Events gefunden</td>
      </tr>
    {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
