{% extends "base.html" %}

{% block content %}
<h1>WHG Kalender</h1>


{% if user.is_authenticated %}
    user: {{ user.username }}<br>
    <a href="create/">Event hinzuf&uuml;gen</a><br>
    <a href="pwchange/">Passwort &auml;ndern</a>
    <a href="logout/">logout</a>
{% else %}
    <a href="login/">login</a>
{% endif %}


<h2>Events</h2>

<form method="post">
    {% csrf_token %}
    {{ filterform.as_p }}<button type="submit">Filtern</button>
</form>

<a href="/kalender/"><button>Reset</button></a><br>

{% if user.is_authenticated %}
    <a href="/kalender/own"><button>Eigene</button></a>
{% endif %}

{% if eventlist %}
    <ul>
    {% for event in eventlist %}
        <li>
            <a href="detail/{{ event.id }}">{{ event.echo }}</a>
            <a href="edit/{{ event.id }}">&auml;ndern</a>
            <a href="delete/{{ event.id }}">l&ouml;schen</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Keine Events.</p>
{% endif %}

{% endblock %}